.section-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-container {
  border-radius: 20px;
  background-color: #4bc3faa9;
  box-shadow: -10px -10px 1px rgba(33, 129, 164, 0.881) inset;
  padding: 2rem;
}

.button-group {
  display: flex;
  justify-content: right;
}

.cancel-button {
  border-radius: 0.75rem;
  cursor: pointer;
  color: #0b6b9b;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  background-color: transparent;
  transition: 0.3s ease;
  border: 2px solid transparent;
}
.cancel-button:hover {
  border: 2px solid #0284c7;
}
.save-button {
  font-size: 1.2rem;
  margin-left: 1rem;
  border-radius: 0.75rem;
  color: #f1f5f9; /* slate-50 */
  background-color: #0ea5e9; /* sky-500 */
  padding: 0.6rem 2.4rem;
  transition: background-color 0.3s;
}

.save-button:hover {
  background-color: #0284c7;
}

form {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 2rem;
}

form label {
  font-weight: 100;
  padding-top: 1rem;
  padding-bottom: 0.2rem;
  color: #0f628b;
}

input {
  background-color: #c7dfee;
  border: none;
  font-family: "Rowdies", serif;
  font-weight: 100;
  border-radius: 0.4rem;
  height: 2rem;
  width: 30rem;
  color: #1975a3;
  padding-left: 0.6rem;
  padding-right: 1rem;
}
